// you can change colors here
$theme-colors: #22b8cf, #82c91e, #ffd43b, #fb9b5f, #f26d6d, #f783ac;
$theme-color: #2196f3;
// font
$font-family: '-apple-system, BlinkMacSystemFont, "Harmony OS sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"' !default;
$font-family-heading: $font-family !default;
$font-family-mono: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace' !default;